{% extends 'base.html' %}

{% block title %}
Stats Page
{% endblock %}

{%block content%}
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">DOB</th>
        </tr>
    </thead>
    <tbody>
        {% for fighter in fighters %}
            <tr>
                <td>{{ fighter.firstName }}</td>
                <td>{{ fighter.lastName }}</td>
                <td>{{ fighter.DOB }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('statsPage', page=page+1) }}">Next Page</a>
{%endblock%}
