{% extends 'base.html' %}
{% block title %}
Register Here
{% endblock %}
{%block content%}
<body class="text-center">
    <div class="container">
        <form method="POST" class="'form-register" style="color:white">

            <h1>Create your Account Here!</h1>
            <br>

            {{ form.username.label() }} 
            {{ form.username(class="form-control", placeholder='User Name') }}

            {{ form.emailAddress.label() }} 
            {{ form.emailAddress(class="form-control", placeholder='Email Address') }}

            {{ form.password.label() }} 
            {{ form.password(class="form-control", placeholder='Password') }}

            {{ form.verifyPassword.label() }} 
            {{ form.verifyPassword(class="form-control", placeholder='Verify Password') }}

            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            
        </form>
    </div>
</body>
{%endblock%}